.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem 0 2rem;
}

.nav-bar-left{
  font-weight: 500;
  font-size: 1.7rem;
}

.nav-bar-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

.nav-bar-right > a{
  margin-right: 0.5rem;
}

.nav-bar-right > *{
  font-size: 1rem;
}


.nav-search-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  opacity: 50%;
  border-radius: 50rem;
  width: 13rem;
  height: 2.5rem;
  padding: 0 0.9rem 0 1rem;
}

#input-search{
  font-size: 0.8rem;
  border-style: none;
  background-color: transparent;
  margin-top: 0.1rem;
}

#input-search:focus{
  outline: none;
}

.nav-search-icon{
  margin-top: -0.1rem;
}

.nav-profile-img{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50rem;
  background-color: white;
}
