@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');


.App {
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  background-image: url(./assets/index-background-extended.jpg);
  background-size: 102%;
  background-repeat: no-repeat;
  margin: 0;
}

p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem 0 2rem;
}

.nav-bar-left{
  font-weight: 500;
  font-size: 1.7rem;
}

.nav-bar-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

.nav-bar-right > a{
  margin-right: 0.5rem;
}

.nav-bar-right > *{
  font-size: 1rem;
}


.nav-search-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  opacity: 50%;
  border-radius: 50rem;
  width: 13rem;
  height: 2.5rem;
  padding: 0 0.9rem 0 1rem;
}

#input-search{
  font-size: 0.8rem;
  border-style: none;
  background-color: transparent;
  margin-top: 0.1rem;
}

#input-search:focus{
  outline: none;
}

.nav-search-icon{
  margin-top: -0.1rem;
}

.nav-profile-img{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50rem;
  background-color: white;
}

.container-title-content{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.2rem;
  margin: 7rem 0 0 9rem;
  padding-bottom: 6rem;
}

.title-content-top{
  display: flex;
  flex-direction: column;
}

.title{
  font-weight: 900;
  font-size: 2.5rem; 
}

.subtitle{
  margin-top: -2%;
  font-weight: 500;
  font-size: 1.85rem;
}

.title-content-bottom{
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.btn-style-1, .btn-style-2, .btn-style-3{
  border-radius: 50rem;
  border-style: solid;
  padding: 0rem 2rem;
  height: 3.2rem;
  font-size: 1rem;
}

.btn-style-2, .btn-style-3{
  width: 50%;
}

.btn-style-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  border-color: white;
}

.btn-style-2{
  background-color: black;
  border-color: black;
  color: white;
}

.btn-style-3{
  background-color: transparent;
  border-color: black;
}



.container-buttons-lg-su{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1%;
}


.steam-logo-img{
  height: 1.7rem;
}

.container-game-list{
  margin-top: -2rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  gap: 2rem;
}

.game-title{
  height: 20rem;
  width: 20rem;
  border-radius: 1.6rem;
  background-color: black;
}

.glist-row-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}